{% extends '_layouts/base' %}

{% block content %}
<div class="xs:mx-4 sm:container md:mx-auto px-10 my-12">
    <h1 class="xs:text-xl md:text-2xl lg:text-3xl font-black text-center uppercase bg-yellow-300 px-4 py-2 inline-block mb-12">{{ category.title }}</h1>
  
    {% if category.description %}
        <p class="text-gray-700 mb-4">{{ category.description }}</p>
    {% endif %}

    {% cache globally using key category.id for 1 hour %}
    {% set entries = craft.entries()
      .section('books')
      .relatedTo(category)
      .orderBy('RAND()')
      .all() %}
  

        {% if entries|length %}
            <div class="entry-list">
                {% for entry in entries %}
                    {% include "_includes/book" %}
                {% endfor %}
            </div>
        {% else %}
            <p>No entries found in this category.</p>
        {% endif %}


</div>

{% endcache %}
{% endblock %}
