    <div class="flex justify-center gap-4">
        <button type="submit" class="bg-yellow-300 hover:bg-gray-300 text-black font-bold py-2 px-6">Search</button>
        <button type="button" id="clearFiltersButton" class="bg-gray-300 hover:bg-yellow-300 text-black font-bold py-2 px-6">Clear</button>
    </div>