{% extends '_layouts/base' %}

{% block content %}
<div class="xs:mx-6 md:mx-auto sm:container my-12">
    {% set tagSlug = craft.app.request.getSegment(2) %}
    {% set tag = craft.tags.group('keywords').slug(tagSlug).one() %}
  
    {% if tag %}
        <h1 class="xs:text-md md:text-xl lg:text-3xl text-bold font-black text-center uppercase bg-yellow-300 lg:px-4 lg:py-2 xs:px-2 xs:py-1 inline-block mb-12">#{{ tag.title }}</h1>
  
        {% if tag.description %}
            <p class="text-gray-700 mb-4">{{ tag.description }}</p>
        {% endif %}

        {% cache globally using key tag.id for 1 hour %}
        {% set entries = craft.entries()
            .section('books')
            .relatedTo(tag)
            .orderBy('RAND()')
            .all() %}

            {% if entries|length %}
                <div class="entry-list">
                    {% for entry in entries %}
                        {% include "_includes/book" %}
                    {% endfor %}
                </div>
            {% else %}
                <p>No entries found for this tag.</p>
            {% endif %}

        {% endcache %}

    {% else %}
        <p>Tag not found.</p>
    {% endif %}
</div>
{% endblock %}
