{% extends "_layouts/base" %}

{% block content %}
<div class="xs:mx-6 md:mx-auto sm:container my-12">
    <h1 class="xs:text-md md:text-xl lg:text-3xl text-bold font-black text-center uppercase bg-yellow-300 lg:px-4 lg:py-2 xs:px-2 xs:py-1 inline-block mb-12">
    {{ entry.title }}</h1>
    <article class="ck-content mb-24">
        {{ entry.body | raw }}
    </article>
    
</div>
{% endblock %}