{% extends "_layouts/base" %}

{% block content %}

<div class="xs:mx-6 md:mx-auto sm:container my-12">
    <h1 class="xs:text-xl md:text-2xl lg:text-4xl text-bold font-black text-center uppercase bg-yellow-300 px-4 py-2 inline-block mb-12">
    {{ entry.title }}</h1>
    <article class="ck-content mb-24">
        {{ entry.body | raw }}
    </article>
</div>

{% endblock %}