{% extends "_layouts/base" %}

{% block content %} 

<div class="xs:mx-6 md:mx-auto sm:container my-12">
    {% set entries = craft.entries()
        .section('blog')
        .all() 
    %}

    {% for entry in entries %}
        <h2 class="mb-8">
            <a href="{{ entry.url }}" class="nav-item hover:bg-gray-300 md:text-md lg:text-xl text-bold font-black text-center uppercase bg-yellow-300 px-4 py-2">
                {{ entry.title }}
            </a>
        </h2>
    {% endfor %}
</div>

{% endblock %}
