<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ siteName }} | {{ entry.title ?? 'Welcome' }}</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/nav.css" rel="stylesheet">
  <link href="/css/ck-config.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="OYIPURFU" defer></script>
<!-- / Fathom -->
</head>
<body>

  <!-- Header -->
  <header>
    {% include "_layouts/nav" %}
    {% include "_includes/filter" %}
  </header>

  <div class="main-container">
    <main class="font-sans">
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <!-- Footer -->
  <footer class="flex mx-auto justify-center w-full dropshadow bg-gradient-to-r from-blue-500 to-red-800 py-12">
    <div class="">
      <img class="h-32 w-auto" src="/images/logo-fff.png" alt="Stuff Your Kindle: Crime Edition logo">
      <p class="text-white text-xs text-center mt-4">
        &copy; 2024 {{ siteName }} <br> 
        Seventy-Second Press
      <br>
      Site by
      <a href="https://paperpixels.co" target="_blank" class="">PaperPixels.co</a>
    </p>
    </div>
  </footer>
  <script src="/js/main.js"></script>

</body>
</html>
