{% extends '_layouts/base' %}

{% block content %}
<div class="xs:mx-12 px-10 md:mx-auto sm:container my-12">
    {% set entry = craft.entries.section('alerts').one() %}
        <article class="ck-content mx-auto justify-center mb-12">
            {{ entry.embedCode | raw }}
        </article>
    </div>
{% endblock %}

