{% extends '_layouts/base' %}

{% block content %}
<div class="xs:mx-6 md:mx-auto sm:container my-12">
    {% set entry = craft.entries.section('home').one() %}
    {% if entry %}
          <article class="ck-content mb-12">
              {{ entry.body | raw }}
          </article>

    {% else %}
        <p>No content found for the homepage.</p>
    {% endif %}
    </div>
{% endblock %}

