{# testing 1#}
{% extends '_layouts/base' %}

{% block content %}
<div class="xs:mx-6 md:mx-auto sm:container my-12">
    {% set entry = craft.entries.section('home').one() %}
          <article class="ck-content mb-12">
              {{ entry.body | raw }}
          </article>
    {% set headline = "Books" %}

    {% if entry.includeBooks == 1 %}
        {% include "_includes/allbooks" %}
    {% endif %}
    </div>
{% endblock %}

